*{
    color: #e7ecef;
    margin: 0;
    padding: 0;
}
body{
    background-color: #274c77;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main, header{
    width: 90%;
    margin: auto;
}

footer{
    margin: 200px;
}

img, figcaption{
    width: 380px;
    text-shadow: black;
    text-align: center;
}

img{
    border: 5px solid #e7ecef;
    border-radius: 10px;
    margin-right: 40px;
    margin-top: 40px;
}

p, h2{
    width: 91%;
    margin: auto;
}

h2{
    font-size: 28px;
    padding-top: 40px ;
}

h1{
    width: 92%;
    padding-top: 30px;
    margin: auto;
    font-size: xx-large;
}

.flyt{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}  

